* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: block;
}

header {
    pointer-events: none;
    mix-blend-mode: multiply;
    position: fixed;
    z-index: 5;
    top: 96px;
    left: 0;
    right: 0;
}

header .header-content {
    z-index: inherit;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding: 0 88px 0 96px;
}

header .header-content .left-part {
    pointer-events: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: inherit;
}

header .header-content .left-part .logo {
    margin-right: 24px;
}

li {
    list-style-type: none;
}

a {
    font-size: 1rem;
}

a {
    font-size: 1.25rem;
    font-variation-settings: "wght" 500, "wdth" 125;
    text-transform: lowercase;
    text-decoration: none;
    color: #606887;
}

.visually-hidden {
    border: 0;
    padding: 0;
    margin: 0;
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    white-space: nowrap;
}

header .header-content .right-part {
    pointer-events: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: inherit;
}

header .header-content ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

header .header-content .right-part .theme-switch {
    cursor: pointer;
    transform: translateY(48px);
}

.hamburger-btn {
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    font: inherit;
    padding: 0;
}

.icons-style {
    opacity: 1;
    fill: none;
    stroke: #606887;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    display: block;
}

header .header-content .right-part ul li {
    /* margin-left: 24px; */
    display: block;
    line-height: 0;
}

li {
    font-size: 1rem;
}

main {
    display: block;
}

.container {
    position: relative;
    z-index: 1;
    overflow: hidden;
    width: 100%;
}

.page-content {
    width: 100%;
    height: 100%;
}

.home {
    position: relative;
    display: flex;
    flex-direction: column;
}

.home {
    width: 100%;
    height: inherit;
    justify-content: space-around;
}

.intro-wrapper {
    height: calc(var(--innerVh, 1vh)*100);
    justify-content: center;
    margin: 0 var(--left-right-margin);
}

.intro-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
}

.intro-text {
    position: relative;
    text-align: center;
}